extends layout

block head
  script(src="/javascripts/validation.js")
  -var title = "Group Lunches"

block content

  h1 You doin' lunch today?

  hr

  div.description
    span We eat as a group a lot but don't want to get spammed.
    br
    span This lunch system doesn't collect emails!

  hr
  - if (!restaurants.length)
    div.empty_section You've not added any restaurants yet
  - for( i = 0; i < restaurants.length; i ++ )
    - var restaurant = restaurants[i]
    form.restaurant_row(action="/lunches", method="post")
      input(type="hidden", name="menu_url" value="#{restaurant.url}")
      input(type="hidden", name="title" value="#{restaurant.name}")
      input.pick_restaurant(type="submit", value="Select")
      h4= restaurant.name
      - if (restaurant.url)
        span (
        a(href="#{restaurant.url}", target="_blank") Menu
        span )
      div.notes= restaurant.notes

  form.skinny_form(action='/restaurants', method='post')
    input(type='text',value='', placeholder='Restaurant Name', name='name' required)
    input(type='text',value='', placeholder='Menu Url', name='url')
    textarea.notes(value='', placeholder='notes ( are they closed mondays? )', name='notes')
    input.floatright.button.bump_up(type='submit',value='Create')