extends layout

block content
  h1= title
  p Lunch was Created!
  p Name: #{title}

  p
    span menu is located at
    a(href=menu_url)= menu_url
  p
    Please email people this url: 
    a(href="/lunch/#{id}") http://#{SERVER_HOST}/lunch/#{id}
