extends layout

block content
<<<<<<< HEAD
  h1 #{title}
  p Here is the link for your lunch:
=======
  h1= title
  p Lunch was Created!
  p Name: #{title}

>>>>>>> 0f749bd62d401a6aee3a1775ac5bd124ed3eead6
  p
    Please email people this url: 
    a(href="/lunch/#{id}") http://localhost/lunch/#{id}
