extends ../layout

block head
  -var title = "Order"

block content
  
  - url = '/lunches/' + lunch.id + '/orders'
  - user = ''
  - description = ''
  - button_text = 'Add'
  - if (order)
    - url += '/' + order.id
    - user = order.user
    - description = order.description
    - button_text = 'Edit'

  h1 Add Your Order

  hr

  form.skinny_form(id="formOrder" action="#{url}", method='post')
    input(type='hidden', name='lunch_id', value="#{lunch_id}")
    input(id='user', type='text', value='#{user}', placeholder='name', name='user', required)
    input(id='description', type='text', value='#{description}', placeholder='order', name='description', required)
    
    input.floatright.button.bump_up(type='submit',value='#{button_text}')
