extends ../layout

block head
  -var title = attributes.title

block content 
  - if (attributes.menu_url)
    h1 Restaurant: 
      a(href="#{attributes.menu_url}" target="_blank") #{attributes.title}
  - else
    h1 Restaurant: #{attributes.title}
    

  - if ((orders || {}).length)
    table.display-table
      thead
        th Order for
        th Order
      -for (var i = 0; i < orders.length; i++)
        - var order = orders[i]
        tr
          td= order.user
          td= order.description
  - else

    p.empty_orders This is where the food goes when people put in orders.

    
  p
    - if (existing)
      a(href="/lunches/#{attributes.id}/orders/#{existing.id}", class='button') Edit order
      a(href="/lunches/#{attributes.id}/orders/new", class='button') New order
    - else
      a(href="/lunches/#{attributes.id}/orders/new", class='button') New order

  - if (owner)

    div.copythis_section
      span Feed people this url
      input.copythis(value="#{full_url}")
      script(src="/javascripts/copythis.js")
