extends ../layout

block head
  -var title = attributes.title

block content 
  - if (attributes.menu_url)
    h1 Restaurant: 
      a(href="#{attributes.menu_url}" target="_blank" title='View menu') #{attributes.title}
  - else
    h1 Restaurant: #{attributes.title}

  hr
    

  - if ((orders || {}).length)
    table.display-table
      thead
        th Order for
        th Order
        - if (owner)
          th Amount Paid
        th
        th
      -for (var i = 0; i < orders.length; i++)
        - var order = orders[i]
        tr
          td= order.user
          td= order.description
          - if (owner)
            td
              input.order_paid(value="#{order.paid || ''}", data-order_id="#{order.id}", data-lunch_id="#{attributes.id}")
              script(src="/javascripts/order_paid.js")
          td(class='option-column')
             a(href="/lunches/#{attributes.id}/orders/#{order.id}") Edit
          td(class='option-column') 
             a(href="/lunches/#{attributes.id}/orders/#{order.id}/delete") Delete
  - else

    p.empty_orders This is where the food goes when people put in orders.

    
  p
    a(href="/lunches/#{attributes.id}/orders/new", class='button') New order

  - if (owner)

    hr
    div.copythis_section
      span Feed people this url
      input.copythis(value="#{full_url}")
      script(src="/javascripts/copythis.js")
