extends ../layout

block content 
  - if (attributes.menu_url)
    h1 Restaurant: 
      a(href="#{attributes.menu_url}") #{attributes.title}
  - else
    h1 Restaurant: #{attributes.title}
    

  - if ((orders || {}).length)
    table.orderTable
      thead
        th Order for
        th Order
      -for (var i = 0; i < orders.length; i++)
        - var order = orders[i]
        tr
          td= order.user
          td= order.description
    
  p
    - if (existing)
      div
        a(href="/lunches/#{attributes.id}/orders/#{existing.id}") Edit your order
      div
        a(href="/lunches/#{attributes.id}/orders/new") Add new item order
    - else
      a(href="/lunches/#{attributes.id}/orders/new") Add your order
